.row {
        margin: auto;
        width: 100%;
        padding: 10px;
        }

 .container {
      margin: auto;
      width: 100%;
      padding: 10px;
            }


 .col-md-6 {
      margin: auto;
      width: 50%;
      padding: 10px;
            }